# Dhruvs code
# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/dist/
server/dist/



# Environment files (NEVER commit these)
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo
